/* font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif; */
*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.row{
    margin: 0;
}
.menu-bg{
    background-color: #0e0e0eaf;
    position: absolute;
    width: 100%;
    top: 20px;
    z-index: 1;
}
.menu-bg .navbar-brand{
    position: relative;
}
.logo-inner{
    background-color: #323232;
    padding: 20px 15px;
    transform: skew(-30deg);
    position: absolute;
    left: 0;
    top: -42px;
    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    -ms-transform: skew(-30deg);
    -o-transform: skew(-30deg);
}
.logo-inner img{
    transform: skew(30deg);
    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    -ms-transform: skew(30deg);
    -o-transform: skew(30deg);
}
.menu-bg ul li a{
    color: #fff !important;
    position: relative;
    margin: 0 8px;
    padding: 20px 10px;
    font-family: 'Oswald', sans-serif;
}
.menu-bg ul li a::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: red;
}
.menu-bg ul li a:hover::after{
    width: 100%;
}
.menu-bg ul li a:hover{
   background-color: #fff;
   color: black !important;
}
/* nav end */
/* back2top start */
.back2top i{
    position: fixed;
    cursor: pointer;
    bottom: 10%;
    right: 40px;
    z-index: 9;
    color: red;
    font-size: 30px;
    display: none;
    border: 1px solid red;
}
/* back2top end */
/* banner start */
.banner-img{
    padding: 300px 0;
}
.banner-text2{
    position: relative;
}
.ban-text{
    position: absolute;
    left: 50%;
    top: 250px;
    z-index: 9;
    color: #fff;
    transform: translatex(-50%);
    text-align: center;
    -webkit-transform: translatex(-50%);
    -moz-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    -o-transform: translatex(-50%);
}
.ban-text h2{
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;

}
.ban-text h1{
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 55px;
    color: #e23e38;
    font-weight: 600;
}
.ban-text p{
    font-size: 12px;
    padding: 5px 30px;
    /* margin-bottom: 40px; */
}
.ban-text a{
    padding: 10px 20px;
    color: #fff;
    border: 1px solid #fff;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}
.ban-text a:hover{
    background-color: #e23e38;
    border: 1px solid transparent;
}
#banner{
    position: relative;
}
#banner .slick-dots{
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translatex(-50%);
    -webkit-transform: translatex(-50%);
    -moz-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    -o-transform: translatex(-50%);
}
#banner .slick-dots li{
   height: 20px;
   width: 20px;
   /* border: 1px solid #fff; */
   background-color: #fff;
   border-radius: 50%;
   display: inline-block;
   margin: 0 5px;
}
#banner .slick-dots li button{
    height: 20px;
    width: 20px;
    background-color: #e23e38;
    border-radius: 50%;
    color: transparent;
    border: none;
    opacity: 0;
}
#banner .slick-dots li.slick-active button{
    opacity: 1;
}
/* banner end */
/* about start */
#about{
    margin: 70px 0;
}
.about-img{
    position: relative;
}
.about-ovarly{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
}
.about-icon{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #e23e38;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.about-icon i{
    padding-top: 25%;
    padding-left: 10%;
    color: black !important;
}
.about-img:hover .about-ovarly{
    opacity: 1;
}
.about-main h5{
    font-family: 'Oswald', sans-serif;
}
.about-main p{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}
.about-main img{
    padding-bottom: 20px;
}
.vbox-content {
    width:50%;
    margin: 0 auto;
  }
/* about-end */
/* gallery start */
.gallery-main{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../image/gallery-banner.jpg) no-repeat center / cover;
    padding: 50px 0;
}
.gall-inner h5{
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}
.gall-inner img{
    margin-bottom: 10px;
}
.gall-img{
    position: relative;
}
.gall-ovarly{
    position: absolute;
    width: 90%;
    height: 90%;
    left: 50%;
    top: 50%;
    background-color: #da7e6999;
    border: 4px solid #bab6ad;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.gall-ovarly i{
    color: #fff;
    font-size: 20px;
}
.gall-img:hover .gall-ovarly{
    opacity: 1;
}
/* gallery end */
/* our team start */
#team{
    padding: 60px 0;
}
.team-head {
    margin-bottom: 50px;
}
.team-head h5{
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}
.team-head img{
    margin-bottom: 10px;
}
.team-img{
    position: relative;
}
.team-ovarly{
    position: absolute;
    width: 90%;
    height: 90%;
    left: 50%;
    top: 50%;
    background-color: #da7e6999;
    border: 4px solid #bab6ad;
    transform: translate(-50%, -50%);
    opacity: 0;
}
.team-ovarly ul{
    position: absolute;
    top: 30%;
    left: 65%;
}
.team-ovarly ul li{
    margin-bottom: 10px;
}
.team-ovarly ul li i{
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    text-align: center;
    line-height: 30px;
    color: #fff;
}
.team-ovarly ul li i:hover{
    background-color: #fff;
    color: blue;
    border: 2px solid transparent;
}
.team-text{
    text-align: center;
}
.team-text p{
    opacity: 0;
}
.team-item{
    transform: translateY(0px);
    transition: 0.5s;
}
.team-item:hover{
    transform: translateY(-40px);
}
.team-item:hover .team-text p{
    opacity: 1;
}
.team-item:hover{
    border: 2px solid #dddddd;
}
.team-item:hover .team-ovarly{
    opacity: 1;
}
.team-text h2{
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    padding-top: 10px;
}
.team-text h6{
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}
.team-text p{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}
/* our team end */
/* testimonial start */
#monial{
    margin: 50px 0;
}
.testimonial{
    margin: 50px 0;
}
.testimonial h5{
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
}
.testimonial img{
    margin-bottom: 10px;
}

.testi-banner{
    padding: 100px 0;
}
.testi-main{
    color: #fff;
}
.testi-inner h5{
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
}
.testi-inner h6{
    font-family: 'Oswald', sans-serif;
    font-size: 13px;
}
.testi-inner i{
    color: #e23e38;
    font-size: 12px;
    padding-bottom: 20px;
}
.testi-pera{
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}
.test{
    position: relative;
}
.test .slick-dots{
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translatex(-50%);
    -webkit-transform: translatex(-50%);
    -moz-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    -o-transform: translatex(-50%);
}
.test .slick-dots li{
   height: 20px;
   width: 20px;
   /* border: 1px solid #fff; */
   background-color: #fff;
   border-radius: 50%;
   display: inline-block;
   margin: 0 5px;
}
.test .slick-dots li button{
    height: 20px;
    width: 20px;
    background-color: #e23e38;
    border-radius: 50%;
    color: transparent;
    border: none;
    opacity: 0;
}
.test .slick-dots li.slick-active button{
    opacity: 1;
}
/* testimonial end */
/* member start */
.member-head{
    margin: 50px 0;
}
.member-main{
    width: 100%;
    height: 500px;
    background-color: #f1f1f1;
}
.member-head h5{
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}
.team-head img{
    margin-bottom: 10px;
}  
.member-top h5{
    width: 100%;
    height: 50px;
    background-color: #dddddd;
    padding-top: 15px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}
.member-banner{
    padding: 30px 0;
    font-family: 'Oswald', sans-serif;
    color: #fff;
}
.member-banner h1{
    font-size: 60px;
}
.member-banner span{
    font-size: 30px;
}
.member-text{
    margin: 150px 0px 0px 0px;
}
.member-text p{
    padding: 5px 0;
}
.member-buttom{
    background-color: #dddddd;
}
.member-main:hover .member-top h5{
    background-color: #e23e38;
    color: #fff;
}
.member-main:hover .member-buttom{
    background-color: #e23e38;
    color: #fff;
}
/* member end */
/* goodwill start */
#goodwill{
    background: linear-gradient(to top, rgba(0,0,0,0.800), rgba(0,0,0,0.800)), url(../image/goodwill-banner.jpg) no-repeat center / cover;
    padding: 50px 0;
    margin: 50px 0;
}
.good-main{
    color: #fff;
    font-family: 'Oswald', sans-serif;
}
/* goodwill end */
/* pathner start */
.pathner-main{
    margin: 20px 0;
}
.pathner-img img:hover{
    border: 3px solid #dfdfdf;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
/* pathner end */
/* footer start */
#footer{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../image/footer-ban.jpg) no-repeat center / cover;
    margin: 50px 0;
}
.top-line{
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin-bottom: 30px;
}
.footer-left{
    color: #fff;
    font-family: 'Oswald', sans-serif;
}

.day-time{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}
.day-time h6{
    font-size: 14px;
}
.twitter-main{
    color: #fff;
    font-family: 'Oswald', sans-serif;
}
.twitter-text{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}
.twitter-text i{
    color: #1da1f2;
    font-size: 20px;
}
.photo-main{
    color: #fff;
    font-family: 'Oswald', sans-serif;
}
.contact-main{
    color: #fff;
}
.contact-head h5{
    font-family: 'Oswald', sans-serif;

}
.contact-icon i{
    color: #e23e38;
    font-size: 14px;
}
.contact-icon p{
    font-size: 13px;
}
.buttom-icon i{
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 30px;
    padding-left: 6px;
    margin: 0 3px 10px 3px;
}
.buttom-icon i:hover{
    background-color: #e23e38;
    border: 1px solid transparent;

}
.contact-buttom h5{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 100;

}
.buttom-line{
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin-bottom: 20px;
}
.copyright{
    color: #fff;
}
.copyright a{
    color: #e23e38;
}
/* footer end */
